/* You should edit the content below to fit your website */

* {
	font-family: Georgia, Verdana, sans-serif;
	color: #1A0602;
	text-align: center;}
body {
	width: 960px;
	margin: 0 auto;
	border: double;
	background-color:#FEADCA}
#content {
	overflow: auto;
	height: 100%;}
.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
nav {
	background-color:#F9CCDC;
	padding: 10px;
	margin: 10px;
	border: double;
}
li {
	display: inline;
	padding: 5px;
}
section {
	overflow: auto;
	height: 100%;
	text-align: center;
	margin: 10x;
	text-align: center;
}
main {
	background-color: #F9CCDC;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border: double;
}

article {
	background-color: #F9CCDC;
	padding: 10px;
	margin: 10px;
	width: 480px;
	height: 400px;
	float: center;	
	text-align: center;
	border: double;
}

div {
	position: relative;
	right: -225px;
	border-left: -225px;
}

footer {
	background-color:#F9CCDC;
	padding: 10px;
	margin: 10px;
	width: 920px;
	border: double;
}
